---
import Button from "../components/Button.astro";

const title = "Your Next Generation AI";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tboss AI</title>
  </head>

  <body class="bg-gray-900 text-white">
    <!-- Navbar -->
    <div class="navbar-main-top navbar bg-gray-800 p-2">
      <ul class="flex space-x-4">
        <li><p class="text-2xl font-semibold">Tboss AI</p></li>
        <li><a href="/" class="text-lg hover:text-gray-400">Home</a></li>
      </ul>
    </div>

    <!-- Header Section -->
    <div class="header-main-content text-center py-10">
      <img
        class="mx-auto rounded-xl"
        width="300"
        height="300"
        src="/tboss.png"
        alt="Tboss AI logo"
      />
      <p class="text-4xl font-extrabold mt-4">{title}</p>
      <br>
      <center>
        <Button/>
      </center>
    </div>

    <!-- Footer Section -->
    <div class="footer text-center py-6">
      <p class="text-lg text-gray-400">&copy; Copyright 2024 - Tboss-AI</p>
    </div>
  </body>
</html>
